

<h1>Adicionar: Orçamento</h1>

<div class="text-right">
	<a href="principal.php#!orcamento" class="btn btn-primary" accesskey="v">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar
	</a>
</div>
<br>
<div class="row">
<div class="col-md-4">
	<br>Descrição &nbsp;&nbsp;<span style='color: red'>*</span>
	<input type="text" maxlength="200" class="form-control" id="descricao_orcamento" accesskey="i">
</div>
<div class="col-md-4">
	<br>Cliente Site &nbsp;&nbsp;<span style='color: red'>*</span>
	<div id="cliente_siteDiv"></div>
</div>
<div class="col-md-4">
	<br>Ativo? &nbsp;&nbsp;<span style='color: red'>*</span>
	<select class="form-control" id="bool_ativo_orcamento" >
		<option value="1" selected>Sim</option>
		<option value="0">Não</option>
	</select>
</div>
	<div class="col-md-12 text-center">
		<br>
		
			<input type="hidden" id="data_lanc_orcamento">
			<script>$("#data_lanc_orcamento").val("1")</script>
			
		<button class="btn btn-success" onclick='gravarRegistro()' accesskey="s">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gravar
		</button>
	</div>
</div>

<script type="text/javascript">
	verificaAcess('orcamento');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_adicionar_orcamento.js"></script>

<script type="text/javascript" src="app/js/combo/cliente_siteCombo.js"></script>
