

<h1>Adicionar: Vídeos</h1>

<div class="text-right">
	<a href="principal.php#!videos" class="btn btn-primary" accesskey="v">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar
	</a>
</div>
<br>
<div class="row">
<div class="col-md-4">
	<br>Descrição &nbsp;&nbsp;<span style='color: red'>*</span>
	<textarea class="form-control" style="resize: vertical" id="descricao_videos" accesskey="i"></textarea>
</div>
<div class="col-md-4">
	<br>Link &nbsp;&nbsp;<span style='color: red'>*</span>
	<input type="text" maxlength="200" class="form-control" id="link_videos" >
</div>
<div class="col-md-4">
	<br>Ativo? &nbsp;&nbsp;<span style='color: red'>*</span>
	<select class="form-control" id="bool_ativo_videos" >
		<option value="1" selected>Sim</option>
		<option value="0">Não</option>
	</select>
</div>
	<div class="col-md-12 text-center">
		<br>
		
			<input type="hidden" id="data_atualizacao_videos">
			<script>$("#data_atualizacao_videos").val("1")</script>
			
		<button class="btn btn-success" onclick='gravarRegistro()' accesskey="s">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gravar
		</button>
	</div>
</div>

<script type="text/javascript">
	verificaAcess('videos');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_adicionar_videos.js"></script>

