
<h1>Estado</h1>

<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_estado" accesskey="b" onkeyup='buscar_estado()'>
</div>



<div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_estado" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Estado
	</a>
</div>

<br><br>

<div id="conteudoEstado"></div>

<script type="text/javascript">
	verificaAcess('estado');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_lista_estado.js"></script>
