
<h1>Endereço Site</h1>
<h3 style='display: none'>Configurar Site: <span id="nomeConfigurar_site"></span></h3>

<span id="botaoVoltarGrade"></span>
<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_endereco_site" accesskey="b" onkeyup='buscar_endereco_site()'>
</div>


<div class="col-md-8 col-xs-12 text-right">
	<!-- &nbsp; -->
	<a href="principal.php#!adicionar_grade_endereco_site-configurar_site" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Endereço Site
	</a>
</div>

<br><br>

<script type="text/javascript">
	verificaAcess('endereco_site-configurar_site');
</script>

<div id="conteudoEndereco_site"></div>

<script type="text/javascript" src="app/js/ajax/ajax_grade_endereco_site-configurar_site.js"></script>
