
<h1>Adicional Site</h1>
<h3 style='display: none'>Saiba Mais: <span id="nomeSaiba_mais"></span></h3>

<span id="botaoVoltarGrade"></span>
<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_adicional_site" accesskey="b" onkeyup='buscar_adicional_site()'>
</div>


<div class="col-md-8 col-xs-12 text-right">
	<!-- &nbsp; -->
	<a href="principal.php#!adicionar_grade_adicional_site-saiba_mais" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Adicional Site
	</a>
</div>

<br><br>

<script type="text/javascript">
	verificaAcess('adicional_site-saiba_mais');
</script>

<div id="conteudoAdicional_site"></div>

<script type="text/javascript" src="app/js/ajax/ajax_grade_adicional_site-saiba_mais.js"></script>
