
<h1>Item Orçamento</h1>

<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_item_orcamento" accesskey="b" onkeyup='buscar_item_orcamento()'>
</div>



<div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_item_orcamento" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Item Orçamento
	</a>
</div>

<br><br>

<div id="conteudoItem_orcamento"></div>

<script type="text/javascript">
	verificaAcess('item_orcamento');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_lista_item_orcamento.js"></script>
