
<h1>Notificações</h1>

<div class="col-md-4 col-xs-12">
	<input type="hidden" id="pesquisa_notificacoes" onkeyup='buscar_notificacoes()'>
	<!--  class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" accesskey="b" -->
</div>



<!-- <div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_notificacoes" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Notificações
	</a>
</div> -->

<br><br>

<div id="conteudoNotificacoes"></div>

<script type="text/javascript">
	verificaAcess('notif');
</script>

<script type="text/javascript" src="app/js/ajax/notif_ajax_lista_notificacoes.js"></script>
