.row.content {height: 550px}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

body {
	/*background-image: url('../img/fundo.jpg');*/
  /*background-color: #ddf;*/
	margin-bottom: 5px;
	background-size: 20%;
	color: #333;
	font-family: 'Helvetica', arial;
}
h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
b {
  font-weight: bold;
}
.wrap {
  padding: 40px;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #999;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}
.form-item {
  max-width: none;
  margin-bottom: 15px;
  position: relative;
}
.form-control:valid {
  border-color: #00b232;
}
.form-control:focus {
  border-color: #428bca;
}
.form-control:focus + .label-float,
.form-control:valid + .label-float {
  color: #000;
  font-size: 12px;
  line-height: 1.5;
}

/* Minhas alterações e adaptações */
.jumbotron { 
    /*background-color: #f4511e; /* Orange */
    color: #ffffff;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50%;
}

.jumbotron2 { 
    /*background-color: #f4511e; /* Orange */
    background-size: 100%;
    margin-top: -3%;
}


.menu_lateral{
  /*margin-left: 45px;
  margin-right: 45px;*/
	color: #fff;
  /*padding-top: 2%;*/
  padding-left: 1px;
  padding-right: 1px;
  display: inline-block;
	/*background-color: #381640;*/
  background: #77e;
  background: -o-linear-gradient(#dc8, #77e);
  background: -moz-linear-gradient(#dc8, #77e);
  background: linear-gradient(#dc8, #77e);
	border-radius: 10px;
	margin-left: 5px;
}

.menu_lateral a {
	margin: 10px;
	margin-left: 0px;
	border-radius: 10px;
	height: 30%;
	width: 100%;
	color: #333;
	background-color: #eee;
  padding-left: 1px;
  padding-right: 1px;
}
.menu_lateral a:hover {
	color: #6f6fdd;
	background-color: #aaa;
  margin-bottom: 2%;
	
}

.conteudo{
	background-color: #eaeaea;
}

input.maiuscula {
  text-transform: uppercase;
}

.rodape{
  margin-top: 5%;
  padding-bottom: 10%;
  padding-top: 2%;
  width: 100%;
  height: 20%;
  color: #fff;
  /*background-color: #381640;*/
  background: #77e;
  background: -o-linear-gradient(#77e, #dc8);
  background: -moz-linear-gradient(#77e, #a9b,  #dc8);
  background: linear-gradient(#77e, #77e, #dc8);
  border-radius: 10px;
}

.selecionado_linha:hover{
  background-color: #aaf;
}