#fazerEmprestimo{
	position: center;
	top: 200px;
	left: 100px;
}

#consultarEmprestimo{
	position: center;
	top: 200px;
	left: 445px;
}
#agendarEmprestimo{
	position: center;
	top: 200px;
	left: 790px;
}
.botaoNome{
	width:50px; 
	height:30px;
	font-size-adjust: 25px;
}
.inputDados{
	width: 10px;
}
.bloco{
	padding:5px; 
	width:550px; 
	height:330px; 
	overflow:auto; 
	margin: 1px;
	border-style: ridge;
	background-color: #fff;
	color: #000;
}
.bloco2{
	padding:5px; 
	width:900px; 
	height:330px; 
	overflow:auto; 
	margin: 1px;
	border-style: ridge;
}