ul.token-input-list {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0
}


ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    background: url(../img/dropdown.png) no-repeat right 5px center;
    background-color: #FFFFFF;
}

ul.token-input-list li input.error {
    background: #ebcccc url(../img/dropdown.png) no-repeat right 5px center;
}

li.token-input-token {
    overflow: hidden;
    border: 1px solid #cccccc;
    height: 34px;
    padding: 0 0 6px 0;
    width: 100%;
    min-width: 150px;
    position: relative;
    line-height: 34px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    color: #000000 !important
}

@media screen and (max-width: 1200px) {
    li.token-input-token {
        min-width: 100px !important;
    }
}

li.token-input-token p {
    float: left;
    padding: 0 0 0 10px;
    width: 100%;
  -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin: 0;
    vertical-align: middle;
    background-color: #FFFFFF
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
    padding-right: 10px;
}

li.token-input-selected-token {
    background-color: #fff;
    color: #000000;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2000;
  display: none;
  float: left;
  min-width: 160px;
  max-height: 300px;
  overflow:auto;
  padding: 0;
  margin: 2px 0 0;

  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius-left-bottom: 4px;
  border-radius-roght-bottom: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    color: #000000;
    display: table;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 5px;
    list-style-type: none;
	color: #000000;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #F5F5F5;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    color: #FFFFFF
}

span.token-input-delete-token{
	color: #FFFFFF;
    position: absolute;
    right: -2px;
    background: #FFFFFF;

}


li.token-input-input-token{
  position: relative;
}

li.token-input-input-token a{
  position: absolute;
  right: 1%;
  top: 20%;
  background: url("../img/plus.png");
  width: 20px;
  height: 20px
}

li.token-input-input-token a:hover{
  background: url("../img/plus_hover.png");
}

.new-register{
  background: #3c763d;
  padding: 5px;
  color: #FFFFFF;
}


.new-register a{
  color: #FFFFFF;
  font-weight: bold
}

.new-register:hover{
    background: #336434
}

.new-register i{
  margin-right: 5px;

}

.token-opcional{
  clear: both;
  font-size: 12px;
  color: #999999;
}

