.image_carousel {
    padding: 16px 28px 16px 28px;
    position: relative;
    width: 100%;
}
	.image_carousel a.prodC{
		border: 1px solid #ccc;
		background-color: white;
		padding: 8px;
		margin: 6px;
		display: block;
		float: left;
		width: 160px;
	}
	.image_carousel img{
		max-width: 100%;
	}

.caroufredsel_wrapper {
    width: 100% !important;
    height: 188px !important;
}
	
a.prev, a.next {
    background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 166px;
}
	a.prev {left: -22px; background-position: 0 0;}
		a.prev:hover {background-position: 0 -50px;}		
		a.prev.disabled {background-position: 0 -100px !important;}

	a.next {right: -22px;  background-position: -50px 0;}
		a.next:hover {background-position: -50px -50px;}
		a.next.disabled {background-position: -50px -100px !important;}

	a.prev.disabled, a.next.disabled {
		cursor: default;
	}
		a.prev span, a.next span {
			display: none;
		}

.pagination {
    text-align: center;
	margin-top: 10px;

}
	.pagination a {
		background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
		width: 15px;
		height: 15px;
		margin: 0 5px 0 0;
		display: inline-block;
	}
		.pagination a.selected {
			background-position: -25px -300px;
			cursor: default;
		}
		.pagination a span {
			display: none;
		}

.clearfix {
    float: none;
    clear: both;
}

a.prodC {
    text-align: center;
    color: #4E9CE9;
}