@font-face {
    font-family: 'franklin_gothic_demi_condRg';
    src: url('fonts/fradmcn-webfont.eot');
    src: url('fonts/fradmcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fradmcn-webfont.woff') format('woff'),
         url('fonts/fradmcn-webfont.ttf') format('truetype'),
         url('fonts/fradmcn-webfont.svg#franklin_gothic_demi_condRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*reset*/
* {list-style: none; box-sizing: border-box; text-decoration: none; border: 0;}
body {padding: 0; margin: 0; font: 13px 'Arimo', sans-serif; color: #3A3D57;}

h1,h2,h3,h4,h5,h6 {font-family: 'Oswald', sans-serif; margin-bottom: 10px;margin-top: 0;}

p {text-align: justify; /*margin: 5px 0;*/ font-size: 15px;}

input, textarea, select{font:13px 'Arimo', sans-serif;}

.fright {float:right !important;}

/*css*/
body {background: #e0edf3;}

.container {max-width: 960px; width: 100%; margin: auto; position: relative; padding: 0 15px;}

.clearfix {clear: both;}

/*header*/
header {margin-bottom: 15px; margin-top:-15px;}
.logo {text-align: center;margin: 30px 0 0 0;margin-bottom: 15px;}
.logo img {margin-top: 50px;}

.infos {height: 90px; display: none;}
	.fone {text-align: left;position: relative;top: 18px;right: 105px;letter-spacing: 0.6px;}
	.fone img {position: absolute; left: 0px;}
	.fone p {color: #011552;font-size: 20px;font-weight: bold;margin: 5px 0;position: relative;left: 59px;}
	.anos {position: absolute; right:0; top: 0; top: 12px;}

	.email{position: relative;top: 18px;right: 102px;}
	.email a{color: #011552;font-size: 14px;font-weight: 700;}

/*banner*/
.rslider {display: none;}

ul.rslides_tabs.rslides1_tabs {
    padding: 0;
    margin: -6px 0 30px;
    text-align: center;
}

ul.rslides_tabs.rslides1_tabs li{
	display: inline-block;
}

ul.rslides_tabs.rslides1_tabs li a{  
	display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: #011552;
    color: #011552;
    font-size: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.rslides_tabs.rslides1_tabs li.rslides_here a{
    background: #4ea2ec;
    color: #4ea2ec;
}

/*main*/
.bg-content { background: url(../img/bg_content.png); padding: 10px; margin-bottom: 16px; 
				 -moz-box-shadow: inset 0 0 24px #ccc; position: relative;}
.conteudo-principal {width: 100%;}

h1 {color: #011552; font-size: 30px;}
h2 {color: #26488f;font-size: 22px;}
h3 {color: #26488f;font-size: 17px;}

.btn { font-family: 'Oswald', sans-serif; color: #fff; text-decoration: none; padding-bottom: 2px; background: url(../img/button.png); margin: 0px 0; font-size: 14px; float: right; 
		text-transform: uppercase; font-weight: bold; box-shadow: 2px 2px 1px #fff; padding: 5px; }

.conteudo-secundario {width: 100%;}

aside.slide-produtos {display: none;}

aside img {/* float: left; */ max-width: 40%;}
aside p {text-align: center; color: #3A3D57; font-family: 'Oswald', sans-serif; font-size: 15px; font-weight: 400; }

.card img { margin: 0 10px;}
.aside-titulo {font-size: 14px;}

.lista-produto {float: left;width: 40%;padding: 5px; display:none;}
.lista-produto a {color: #44497E;}

.lista-produto-txt{display:block;}

.conteudo-produto {width: 60%; float: left; padding: 5px; display: none;}

.lista-produtos {padding: 0;}
.lista-produtos li {float: left;margin: 6px;min-height: 188px;width: 166px;text-align: center;}
.lista-produtos li figure {margin: 0;}
.lista-produtos li figure img {border: 1px solid #cecece;}
.lista-produtos li figure figcaption {text-align: center;}

.fornecedores {	border-bottom: 1px dashed;	min-height: 140px; 	margin-bottom: 1px;	text-align: center;}
.fornecedores img{margin: 10px 65px;border: 5px solid;border-radius: 3px;box-shadow: 0 0 3px;}

.fornecedores p { color: #26488f; font-family: 'Oswald', sans-serif; font-size: 15px; margin-top: 0;}
.fornecedores p a {color: #222;}

.list1 {padding-left: 10px; float: left;}
.list1 li {background: url(../img/list.png) no-repeat 0 1px;padding-left: 22px;margin-bottom: 15px;font-size: 14px;text-align: left;}

li.active {font-weight: bold;}

.info-prod{display: none;}
.info-prod p {text-align: center; background: #E2EEF3; padding: 10px 0; border: 1px solid #c6dee8; font-size: 12px;}

.info-prod2{display: block;}
.info-prod2 p {text-align: center; background: #E2EEF3; padding: 10px 0; border: 1px solid #c6dee8; font-size: 12px;}

.link-home{text-align: right;}
.link-home a{color: #164472; font-weight: bold;}
.link-home a:hover{color: #4E9CE9;}

.empresaImg {text-align:center;}

.conteudo-montagens, .conteudo-servicos {width: 100%;}
.conteudo-montagens img, .conteudo-servicos img {display: none;}

.mapa { margin: 15px 5px; border: 1px solid #6FBAD8; border-radius: 3px; -webkit-border-radius: 3px; width: 98%;}

.trabalhe-conosco .img-trabalhe-conosco {display: none;}

.navbar-nav > li:last-child{
	border: 0;
}

ul.fornecedores{
	padding: 0;
	border: 0;
}
ul.fornecedores li{
	display: inline-block;
}
ul.fornecedores img{
	margin: 16px;
	border: 1px solid #ccc;
	padding: 8px;
	background: #fff;
	border-radius: 0;
	box-shadow: none;
}

/*footer*/
footer {color: #fff;width: 100%;background: #164472;border-top: 2px solid rgb(206, 206, 206);/* font-family: 'franklin_gothic_demi_condRg'; */padding: 10px;}
footer p {text-align: left;}
footer strong {color: #52a7f1;}
footer a {color: #fff;}
footer .mkt { font-size: 15px; line-height: 22px; font-weight: bold;}

/* ============================= orcamento ====================== */
#form1 {width: 100%;}
.cont {width: 460px !important;	border-right: 1px solid #6FBAD8;}
#form1 label {width: 100%;float: left;font-size: 17px;	color: #26488f;	font-weight: bold;}
#form1 fieldset {border-bottom: 1px solid #6FBAD8;	border-right: 0;	border-left: 0;	border-top: 0;}
#form1 .separa {border-left: 1px solid #6FBAD8;}
#form1 input {width: 100%;height: 32px;margin-bottom: 5px;border: 1px solid #6FBAD8;border-radius: 3px;background: #EFFCFF;color: #46798D;}
#form1 .check {clear: both;}
#form1 .check input{width: 17px;float:left;}
#form1 .check label{width: 80%;margin: 10px 4px;font-weight:normal;}
#form1 .ddd {width: 20%;margin-right: 13px;} 
#form1 .tel {width: 54%;} 
#form1 .quant {	width: 100%;}
#form1 textarea {width: 100%;resize: none;height: 132px;border: 1px solid #6FBAD8;border-radius: 3px;background: #EFFCFF;color: #46798D;margin-bottom: 5px;}
#form1 div.error {background: 0;border: 0;padding: 0;color: #D45F5F;text-align: left;font-weight: normal;font-size: 13px;clear: both;}

#form1 #anex {width: 100%;}
#form1 #pree {width: 100%;}

#form1 .selectlabel {width: 100%;}

#form1 select{width: 100%;height: 32px;margin-bottom: 5px;border: 1px solid #6FBAD8;border-radius: 3px;background: #EFFCFF;color: #46798D;}

#form1 .span {font-size: 15px;}

#form1 .radiolabel {width: 88px;font-weight: normal;line-height: 18px;float: left;font-size: 14px;padding-left: 8px;}

#form1 .radio{border: none;box-shadow: none;width: 17px;margin: 0;height: 17px;float: left;}	

#form1 .file {width: 100%;padding-top: 4px;padding-left: 5px;margin-bottom: 6px;}

#form1 .labelfile {width: 100%;font-size: 15px;color: #3A3D57;font-weight: normal;}

#form1 .buttonform {width: 100px;float: left;height: 30px;	background:url(../img/button.png);border: none; color: #fff; font-weight:bold; cursor: pointer;	font-size: 14px;text-transform: uppercase;
	box-shadow: none;margin-top: 25px;border: 1px solid;margin-right: 15px;	text-align: center;}

#form1 .buttonform:hover {color:#C0DEF8;}

#form1 img {margin: 0 0 35px 108px;border: 1px solid #6FBAD8;border-radius: 3px;box-shadow: 1px 1px 6px;}

#form1 #p_scents {}

#form1 .add{border: 0;box-shadow: none;background: none;margin: 0 0 20px;color: #26488f;float: right;cursor: pointer;}

.captcha {
    width: 100%;
    height: 59px;
    display: block;
    position: relative;
}
.captcha .error {
    position: absolute;
    bottom: -15px;
    margin-bottom: 0;
}

div.error {
    background: #E78B8B;
    border: 1px solid #D45F5F;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 14px;
}

#form1 .radio-orca {
    margin-bottom: 14px;
    float: left;
}

#form1 .radio-orca label {
    width: 194px;
    font-size: 14px;
    line-height: 18px;
    padding-left: 6px;
    font-weight: normal;
}

#form1 .conheceu {
    width: 200px;
    float: left;
    line-height: 32px;
}

span.btn-submit p {
    font-size: 17px;
    color: #52a7f1;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand a {
    color: #26488f;
}




@media (max-width: 405px){
	.conteudo-produto {text-align: center;}
	.lista-produtos li {margin: 5px 52px;}
}

@media (min-width: 320px) and (max-width:766px){
	.lista-produto {width: 100%; -webkit-column-count: 2; -moz-column-count: 2; -o-column-count: 2; -ms-column-count: 2; column-count: 2;
					-webkit-column-gap: 25px; -moz-column-gap: 25px; -o-column-gap: 25px; -ms-column-gap: 25px; column-gap: 25px;}

	.conteudo-produto {width: 100%;}
}

@media only screen and (min-width: 680px) {
	.captcha {
    	height: 43px;
    }
}

@media (min-width: 766px){
	body {border-top: 10px solid #1B205F; background: url(../img/body-bg.jpg) no-repeat fixed right;}

	/*header*/
	header .container {padding: 0 5px;}

	.logo {text-align: left;padding: 0 15px;}
	.logo img {margin-top: 0;}

	.infos {display: block;position: absolute;right: 15px;top: 15px;}
	
	.navbar {max-height: 50px; min-height: 0; margin-bottom: 0;}
	.navbar-default {background: none; border: 0;}
	.navbar-fixed-top {position: relative;}
	.navbar-brand {display: none;}
	.navbar-nav > li {border-right: 0;}
	.navbar-nav > li > a {border-bottom: 0;padding: 6px 4px;font-size: 15px;}
	.navbar-nav .current a {/* background: url(../img/menu_active.png) no-repeat center bottom; */}

	/*main*/
	.conteudo-principal {width: 70%; float: left;}
	.conteudo-principal p {padding: 0 8px;  line-height: 21px;}
	.conteudo-secundario {width: 25%;   float: right;text-align: center;}

	aside.slide-produtos {clear: both;width: 100%;margin-bottom: 20px;display: block;}
	aside.slide-produtos p{text-align: left;}

	.empresaImg  img{margin: 20px !important; border: 1px solid #6FBAD8; border-radius: 3px; box-shadow: 1px 1px 6px; float: right;}


	.fornecedores img {float: left;}
	.fornecedores p {margin-top: 45px; float: left;width: 62%;}


	.titleBox {	color: #fff; background: url(../img/footer.png); padding: 14px; width: 267px; border-radius: 4px; border: 1px solid; box-shadow: 3px 3px 7px #423F3F; position: relative;
		top: -38px; 	left: -21px; margin-bottom: -39px; text-align: center; margin-top: 18px;}

	.conteudo-montagens{width: 100%; }
	.conteudo-servicos {width: 100%; }
	
	.conteudo-montagens, .conteudo-servicos {/* text-align: center; */}
	.conteudo-montagens img, .conteudo-servicos img {display: inline-block;border: 2px solid;float: right;}

	.conteudo-montagens ul {-webkit-column-count: 2; -moz-column-count: 2; -o-column-count: 2; -ms-column-count: 2; column-count: 2;
							-webkit-column-gap: 25px; -moz-column-gap: 25px; -o-column-gap: 25px; -ms-column-gap: 25px; column-gap: 25px;}
							
	.conteudo-produto{display: block;}
	.conteudo-produto > img {width: 100%; max-width: 522px; border: 1px solid #cecece; margin-left: 6px;}
	.lista-produto{display: block;}
	.lista-produto-txt{display:none;}
	
	.info-prod{display: block;}
	.info-prod2{display: none;}

	.contato h4 {float: left; margin-left: 10px;margin-top: 30px;}
	.contato .mapa {margin-left: 10px;}
	.contato .end {display: block;text-align: center;}
	.contato .horario {position: absolute;right: 30px;display: inline-block;width: 45%;}

	.trabalhe-conosco .img-trabalhe-conosco {display: block;margin: 0 !important;position: relative;top: 10px;left: 60px;}

	.mapa {width: 48%;}

	/*footer*/
	footer {}
	footer .mkt {float: left; width: 35%;position: relative;}
	footer .endereco {float: right; width: 65%;position: relative;}
	footer .endereco .social {position: absolute;right: 0;top: 16px;}
	footer .endereco p {text-align: right;position: absolute;right: 78px;}

	/*form*/
	#form1 fieldset {
    float: left;
    width: 49%;
    border-bottom: 0;
    border-right: 1px solid #6FBAD8;
    }

    #form1 .labelQuant {width: 100px;}
    #form1 .quant {width: 17%;float: left;margin-right: 10px;}
    #form1 .selectlabel {
    width: 60px;
}
    #form1 select {width: 30%;}

}

@media (min-width: 1022px) {
	.navbar-nav > li {border-right: 1px solid;}
	.navbar-nav > li > a {padding: 5px 8px;font-size: 17px;}

	.fornecedores p {font-size: 20px;}

	.trabalhe-conosco .img-trabalhe-conosco {left: 115px;}
}