* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
#site { width: 960px; margin: 20px auto 0 auto }
fieldset { border: 0 }
legend { font-weight: bold; margin-bottom: 10px }
label { display: block; margin-bottom: 2px }
form div { margin-bottom: 10px }
h1 { text-align: center; font-size: 18px }
input { width: 500px; padding: 5px }
input[type=submit] { padding: 5px 10px; width: auto }
form { margin-bottom: 20px }
#mapa { width: 100%; /*height: 100px;*/ float: left }
#trajeto-texto { width: 100%; height: auto; float: right; overflow: scroll }
/*#trajeto_descritivo{ width: 100%; font-size: 5px; }*/

.logotipo{
	position: absolute;
	width: 200%;
	background-color: red;
	bottom: 20%;
}
.logotipo1{
	position: fixed;
	margin-top: 15px;
	margin-left: 35px;
}
.logotipo2{
	position: fixed;
	right: -27%;
}
#conteudoRotas{
	position: absolute;
	background-color: white;
	margin-top: 5%;
	height: 60%;
	width: 20%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px gray;
	margin-left: 10px;
	padding: 10px;
	border-style: solid;
	border-size: 0.5px;
	border-color: #ddd;
}


#locaisDeEntregaDemostrativo{
	bottom: 0px;
	height: 65%;
	width: 100%;
	overflow: auto;
}
.descritivoRota{
	margin-top: -10px;
	/*bottom: 0px;*/
	height: 65%;
	max-height: 200px;
	width: 100%;
	overflow: auto;
	/*border-style: solid;*/
}
.descritivoRota h4 b{
	font-size: 12px;
}
.descritivoRota h4 {
	font-size: 12px;
	margin-left: 5px;
}

#btn_fechar_card{
	/*position: fixed;*/
	right: 0px;
	width: 100%;
	text-align: right;
	margin-top: -5px;
}
#btn_fechar_card_acao{
	/*border-style: solid;*/
	padding: 2px;
	border-radius: 5px;
}
#btn_fechar_card_acao:hover{
	background-color: #ddd;
} 
#btn_fechar_card_acao i {
	font-size: 15px;
}

#voltarConteudoRotas{
	position: absolute;
	padding: 15px;
	/*width: ;*/
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 5%;
	box-shadow: 10px 10px 10px gray;
	font-size: 35px;
}

#voltarConteudoRegiao{
	position: absolute;
	padding: 15px;
	/*width: ;*/
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-top: 5%;
	right: 0;
	box-shadow: -10px 10px 10px gray;
	font-size: 35px;
}

#conteudoRegiao{
	position: absolute;
	background-color: white;
	margin-top: 5%;
	height: 60%;
	width: 20%;
	right: 10px;
	border-radius: 10px;
	box-shadow: -10px 10px 10px gray;
	margin-left: 10px;
	padding: 10px;
	border-style: solid;
	border-size: 0.5px;
	border-color: #ddd;
}

.regioesDemostrativo{
	bottom: 0px;
	height: 70%;
	max-height: 260px;
	width: 100%;
	overflow: auto;
	/*border-style: solid;;*/
}

#visualizacaoCaminhaoInfo{
	position: absolute;
	padding: 15px;
	width: 50%;
	margin-left: 25%;
	background-color: white;
	border-radius: 10px;
	/*border-bottom-left-radius: 10px;*/
	bottom: 10px;
	box-shadow: 10px 10px 10px gray;
	font-size: 35px;
	text-align: left;
}