
<h1>Cadastro de Usuário</h1>

<div class="col-md-4 col-xs-12">
	<!-- <div class="input-group"> -->
		<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_usuario" accesskey="b" onkeyup='buscar_usuario()'>
		<!-- <span class="input-group-addon" style="padding: 0;"> -->
			<!-- <button onclick="buscar_usuario()" class="btn"> -->
				<!-- <i class="fa fa-search" aria-hidden="true"></i> -->
			<!-- </button> -->
		<!-- </span> -->
	<!-- </div> -->
</div>



<div class="col-md-8 col-xs-12 text-right">
<!-- 	<button onclick="buscar_usuario()" class="btn">
		<i class="fa fa-search" aria-hidden="true"></i>&nbsp;Pesquisar
	</button> -->
	<a href="principal.php#!usuario_adiciona" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Usuário
	</a>
</div>

<br><br>

<script type="text/javascript">
	verificaAcess('usuario');
</script>

<div id="conteudoUsuario"></div>

<script type="text/javascript" src="app/js/ajax/usuario_ajax_lista_usuario.js"></script>
