@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0; border:0; outline:none;}

.bot_up, .quadros, button, a, .box-botoes{-webkit-transition:all ease-out 300ms; -moz-transition:all 300ms ease-out; -ms-transition:all 300ms ease-out; -o-transition:all 300ms ease-out;}

.topo { position:fixed; bottom:0; right:10px; z-index:9999; width:50px; height:50px; cursor:pointer; display:none; font:20px/50px 'FontAwesome'; color:#FFFFFF; background:#292536; text-align:center; }

#topo{width:100%; background:#FFFFFF; overflow:hidden; padding:10px 0;}
#topo02{width:98%; max-width:1000px; margin:0 auto;}
#logo{width:30%; float:left; text-align:center;}
#fone{width:40%; float:right; padding:20px;}
#fone p{font: 300 20px 'Oswald', sans-serif; color:#3f454d; text-align:right;}
#fone h1{font: 300 30px 'Oswald', sans-serif; color:#3f454d; text-align:right;}
#fone h1:before{font:40px 'FontAwesome'; color:#292536; content:"\f095"; margin-right:10px;}

#palco_menu{width:100%; overflow:hidden; background:#3f454d; border-bottom:6px solid #292536; margin-bottom:30px;}
#menu{width:100%; max-width:1000px; margin:0 auto; font-size:0; list-style:none;}
#menu li{display:inline-block; width:calc(100% / 5); cursor:pointer; overflow:hidden; position:relative;}
#menu li a{font:300 18px 'Oswald', sans-serif; color:#FFF; text-transform:uppercase; text-align:center; padding:30px 0; position:relative; z-index:90; display:block; text-decoration:none; }
#menu li .bot_up{ position:absolute; width:100%; height:100%; background:#292536; bottom:-100%; }
#menu li:hover .bot_up{ bottom:0; }
nav select{ display:none; border-radius:3px; padding:5px; width:calc(100% - 40px); margin:20px; font:24px/50px 'Oswald', sans-serif; color:#3f454d; outline:none; }

#img-home{width:98%; max-width:1000px; margin:0 auto; overflow:hidden;}
#img-home .home{width:49%; float:left;}
#img-home .home:last-child{ float:right; }

#banner{ width:100%; overflow:hidden; position:relative; }
#banner .img01{background:url(../banner/banner01.jpg) center; height:480px;}
#banner .img02{background:url(../banner/banner02.jpg) center; height:480px;}
#banner .img03{background:url(../banner/banner03.jpg) center; height:480px;}
#banner .img04{background:url(../banner/banner04.jpg) center; height:480px;}

.owl-pagination{position:relative; z-index:999; bottom:40px; float:right;}

.quadros{width:49%; background:#3f454d; height:235px; float:left; padding:20px 10px; box-sizing:border-box; margin-bottom:10px; text-align:center; cursor:pointer;}
.quadros:nth-child(2){float:right; background:#292536;}
.quadros:nth-child(3){background:#292536; margin-bottom:0;}
.quadros:nth-child(4){float:right; margin-bottom:0;}
.quadros:before{font:54px 'FontAwesome'; color:#FFFFFF;}
.qdd01:before{content:"\f073";}
.qdd02:before{content:"\f0f2";}
.qdd03:before{content:"\f108";}
.qdd04:before{content:"\f1ea";}
.quadros h1{font:300 16px 'Oswald', sans-serif; color:#FFFFFF; padding:24px 0; text-transform:uppercase;}
.quadros p{font: 14px/20px 'Archivo Narrow', sans-serif; color:#FFFFFF;}
.quadros:nth-child(1):hover, .quadros:nth-child(4):hover{background:#25282c;}
.quadros:nth-child(2):hover{background:#e0af4d;}
.quadros:nth-child(3):hover{background:#e0af4d;}

#conteudo{width:98%; overflow:hidden; max-width:1000px; margin:0 auto;}
#conteudo h1{font:300 20px 'Oswald', sans-serif; color:#292536; text-transform:uppercase; margin:20px 0;}
#conteudo p{font: 13px/20px 'Archivo Narrow', sans-serif; color:#333333; text-align:justify;}

#img-utilitarios{width:100%; overflow:hidden; background:url(../imagens/img-utilitarios.jpg); background-attachment:fixed; margin:30px 0; padding:50px 0;}
#utilitarios{width:98%; overflow:hidden; max-width:1000px; margin:30px auto;}
#utilitarios .util{width:24%; margin:0 0.5%; padding:20px 10px; box-sizing:border-box; float:left; background:#FFFFFF; border-top:6px solid #292536;}
#utilitarios .util:first-child{margin-left:0; width:24.5%;}
#utilitarios .util:last-child{margin-right:0; width:24.5%;}
#utilitarios h1{width:40px; height:40px; background:#292536; font:700 18px/40px 'Oswald', sans-serif; color:#FFF; text-align:center; float:left; margin-right:12px;}
#utilitarios h2{font:300 18px/20px 'Oswald', sans-serif; color:#292536; text-transform:uppercase;}
#utilitarios h3{font:300 22px/20px 'Oswald', sans-serif; color:#3f454d; text-transform:uppercase;}
#utilitarios p{font: 13px/20px 'Archivo Narrow', sans-serif; color:#333333; text-align:center; margin:35px 0;}
#utilitarios button{font:300 18px/20px 'Oswald', sans-serif; color:#FFFFFF; text-align:center; padding:10px; width:100%; background:#3f454d; cursor:pointer;}
#utilitarios button:hover{background:#292536;}

#ms{ width:98%; max-width:1000px; margin:20px auto; overflow:hidden; padding-top:25px;}
#ms h1{font:300 20px/50px 'Oswald', sans-serif; color:#FFFFFF; background:#3f454d; text-transform:uppercase; margin-bottom:20px; text-align:center;}
#ms form{ width:100%; overflow:hidden; margin:20px 0;}
#ms input{ width:49%; margin:5px 0.5%; border-radius: 3px; float:left; border: 1px solid rgba(204,204,204,0.5); padding:20px; font: 14px/20px 'Archivo Narrow', sans-serif; color:#333333; }
#ms button{ padding:20px 15px; background:#3f454d; color:#FFFFFF; cursor:pointer; border-radius:3px; font: 14px/20px 'Archivo Narrow', sans-serif; text-transform:uppercase; margin:5px 0 5px 0.5%; border: 1px solid rgba(204,204,204,0.5);}
#ms button:hover{ background:#25282c; }
#ms a { font: 14px/20px 'Archivo Narrow', sans-serif; display:inline-block; color:#FFFFFF; text-transform:uppercase; text-decoration:none; background:#292536; border-radius:3px; padding:20px 15px; border: 1px solid rgba(204,204,204,0.5); margin:5px 0 5px 0.5%;}
#ms a:hover{ background:#e0af4d; }
#ms a:before{ font: 14px 'FontAwesome'; content:"\f13e"; margin-right:15px; }

#programacoes{width:98%; max-width:1000px; margin:0 auto; overflow:hidden; padding-top:20px;}
#programacoes .box-botoes{width:calc(100% - 20px); margin:0 10px; float:left; background:#292536; border-radius:3px; padding:20px; box-sizing:border-box; text-align:center; cursor:pointer;}
#programacoes h1 {font:300 18px 'Oswald', sans-serif; color:#FFFFFF; text-transform:uppercase;}
#programacoes p {font: 14px/20px 'Archivo Narrow', sans-serif;color:#FFFFFF;}
#programacoes .box-botoes:hover {background:#e0af4d;}

#fd_links{width:100%; overflow:hidden; padding:20px 0; background:#3f454d; margin-top:25px;}
#links{width:98%; max-width:1000px; margin:0 auto;}
.links{width:calc(20% - 10px); margin:0 5px; float:left;}
#links h1{font:300 20px/50px 'Oswald', sans-serif; color:#FFFFFF; text-transform:uppercase; padding-top: 20px; text-align:center;}
#links .blocos{width:calc(25% - 30px); margin: 0 15px; float:left; margin-top:30px; text-align:right;}

#mn_links{margin: 0; padding:0; list-style: none; width: 100%;}
#mn_links li{border-top: 1px dotted rgba(255,255,255,0.2);}
#mn_links li:first-child {border-top: none;}
#mn_links li a {display:block; padding: 10px 0; font:300 15px 'Oswald', sans-serif; color:#FFFFFF; text-decoration:none;}
#mn_links li a:hover {color:#888888;}
#mn_links li a:before{font: 10px 'FontAwesome'; color:#FFF; content:"\f054"; float:left; margin-right: 10px;}

#rodape{width:100%; background:#3f454d; padding:10px 0;}
.rodape {width:98%; max-width:1000px; margin:30px auto 0; overflow:hidden;}
.formcontato h1 {font:300 18px 'Oswald', sans-serif; color:#e0af4d; text-transform:uppercase; margin-bottom:20px;}
.formcontato p {font: 14px/20px 'Archivo Narrow', sans-serif; color:#dadada; margin-bottom:20px;}
.formcontato p a{text-decoration:none; color:#dadada;}
.formcontato a:hover{color:#e0af4d;}
.formcontato h4 {font: 14px/80px 'Archivo Narrow', sans-serif; color:#dadada; text-align:center;}
.formcontato input {width:50%; background:rgba(255,255,255,0.1); padding:20px; float:left; font: 14px/20px 'Archivo Narrow', sans-serif; color:#FFFFFF;}
.formcontato textarea {width:100%; background:rgba(255,255,255,0.1); padding:20px; resize:none; font: 14px/20px 'Archivo Narrow', sans-serif; color:#FFFFFF;}
.formcontato button {width:50%; border:none; background:rgba(255,255,255,0.2); padding:20px; color:#fff; text-align:center; float:left; margin:0; cursor:pointer; font:300 18px 'Oswald', sans-serif;}
.formcontato button:hover {background:rgba(255,255,255,0.3);}

#mapa{width:100%; overflow:hidden; max-width:1000px; margin:20px auto; }
#mapa h1{font:300 18px 'Oswald', sans-serif; color:#333; text-transform:uppercase; margin:20px 0;}


@media screen and (max-width:890px){
	#utilitarios{text-align:center;}
	#utilitarios .util{min-height:310px; padding:20px 5px; }
	#utilitarios h1{float:none; margin-right:0; margin:0 auto; margin-bottom:10px;}
	#links .blocos{width:calc(50% - 30px);}
}


@media screen and (max-width:840px){
	#utilitarios .util{padding:20px 10px; }
}


@media screen and (max-width:768px){
	#logo{width:100%; float:none; margin:0 auto;}
	#fone{width:100%; float:none; margin:0 auto; box-sizing:border-box;}
	#fone p, #fone h1{text-align:center;}
	#img-home .home{width:98%; float:none; margin:0 auto; margin-top:20px;}
	#banner .img01, #banner .img02, #banner .img03, #banner .img04{height:350px;}
	#img-home .home:last-child{ float:none; }
	#banner{margin-bottom:-20px;}
	.quadros{height:200px;}
	#conteudo h1{margin-top:20px;}
	.formcontato input {width:100%;}
	#ms input{ width:99%;}
	#ms button {width:49.5%; float:left;}
	#ms a {width:99%;}
	#programacoes .box-botoes{width:calc(100% - 8px); margin:5px 4px; float:none;}
	#utilitarios .util, #utilitarios .util:first-child, #utilitarios .util:last-child{width:49%; margin:0 0.5%; margin-bottom:10px; min-height:0;}
}


@media screen and (max-width:480px){
	nav select{display:block;}
	#menu li{display:none;}
	.quadros{width:99%; float:none; margin:0 auto;}
	.quadros:nth-child(2), .quadros:nth-child(4){float:none;}
	#logo img{max-width:320px;}
	#utilitarios .util, #utilitarios .util:first-child, #utilitarios .util:last-child{width:99%;}
	#links .blocos{width:calc(100% - 30px);}
}