

<h1>Adicionar: Item</h1>

<div class="text-right">
	<a href="principal.php#!item" class="btn btn-primary" accesskey="v">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar
	</a>
</div>
<br>
<div class="row">
<div class="col-md-4">
	<br>Descrição &nbsp;&nbsp;<span style='color: red'>*</span>
	<input type="text" maxlength="200" class="form-control" id="descricao_item" accesskey="i">
</div>
<div class="col-md-4">
	<br>Grupo &nbsp;&nbsp;<span style='color: red'>*</span>
	<div id="grupoDiv">
		<input type="text" value="Aguardando seleção..." class="form-control" disabled>
	</div>
</div>
<div class="col-md-4">
	<br>Ativo? &nbsp;&nbsp;<span style='color: red'>*</span>
	<select class="form-control" id="bool_ativo_item" >
		<option value="1" selected>Sim</option>
		<option value="0">Não</option>
	</select>
</div>
	<div class="col-md-12 text-center">
		<br>
		
			<input type="hidden" id="data_atualizacao_item">
			<script>$("#data_atualizacao_item").val("1")</script>
			
			<input type="hidden" id="usuario_id">
			<script>$("#usuario_id").val($("#usuario").val())</script>
			
		<button class="btn btn-success" onclick='gravarRegistro()' accesskey="s">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gravar
		</button>
	</div>
</div>

<script type="text/javascript">
	verificaAcess('item');

	
</script>

<script type="text/javascript" src="app/js/ajax/ajax_adicionar_item.js"></script>

<script type="text/javascript" src="app/js/combo/grupoCombo.js"></script>
