
<h1>Marca</h1>

<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_marca" accesskey="b" onkeyup='buscar_marca()'>
</div>



<div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_marca" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Marca
	</a>
</div>

<br><br>

<div id="conteudoMarca"></div>

<script type="text/javascript">
	verificaAcess('marca');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_lista_marca.js"></script>
