# Handle LF normalization automatically for files detected as text and leave all
# files detected as binary untouched.
* text=auto

*.css     text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.html    text eol=lf diff=html whitespace=blank-at-eol,-blank-at-eof
*.inc     text eol=lf diff=php whitespace=blank-at-eol,-blank-at-eof
*.js      text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.json    text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.lock    text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.md      text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.php     text eol=lf diff=php whitespace=blank-at-eol,-blank-at-eof
*.script  text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.bat     text eol=crlf
*.sh      text eol=lf
*.sql     text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.test    text eol=lf diff=php whitespace=blank-at-eol,-blank-at-eof
*.txt     text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.xml     text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.yml     text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.yaml    text eol=lf whitespace=blank-at-eol,-blank-at-eof

*.avi     binary
*.exr     binary
*.bmp     binary
*.gif     binary
*.jpeg    binary
*.jpg     binary
*.png     binary
*.gif     binary
*.ico     binary

*.swf     binary
*.swc     binary
*.fla     binary

*.gz      binary
*.bz2     binary
*.tar.gz  binary
*.zip     binary

*.jar     binary
*.phar    binary

*.doc     diff=astextplain
*.DOC     diff=astextplain
*.docx    diff=astextplain
*.DOCX    diff=astextplain
*.dot     diff=astextplain
*.DOT     diff=astextplain
*.pdf     diff=astextplain
*.PDF     diff=astextplain
*.rtf     diff=astextplain
*.RTF     diff=astextplain

# Exclude files from deployment using `git archive`.
node_modules export-ignore
